h3{
    width: 540px;
    height: 142px;
    font-family: 'Quattrocento';
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;
    padding-left: 455px;
    color: #000000;
}

div{
    text-align: center;
}

button{
    font-family: 'Quattrocento';
    width: 200px;
    height: 50px;
    border-radius: 205px;
    background: #000000;
    color: white;
}






header{
    text-align: center;
    align-items: center;
}
h4{
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
   text-align: center;

    color: #000000;
}

section{
    text-align: center;
    align-items: center;
}
form{
    align-items: center;
    text-align: center;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 250px;
    left: 500px;
    right: 500px;
    border-radius: 30px;
    border-color: #000000;
}
p{
position: absolute;
width: 540px;
height: 20px;
left: 406px;
bottom: 200px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #303033;
}
a{
    color:blue;
}
footer{
    text-align: center;
}
pre{
    position: absolute;
    width: 540px;
    height: 20px;
    left: 406px;
    bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    
    align-items: center;
    text-align: center;
    
    color: #303033;
    
}